#topBar {
    color: blue;
    text-align: center;
}
.rock {
    color: red;
    padding: 10px 20px;
    background-color: aqua;
}
.paper {
    color: white;
    padding: 10px 20px;
    background-color: olive;
}
.scissors {
    color: orange;
    padding: 10px 20px;
}
#container {
    text-align: center;
    height: 500px
}
.content {
    background-color: black;
}
.reset {
    padding: 10px 20px;
}

#container .score {
    color: violet;
    border: 5px black solid;
}
#container .results {
    color: red; 
}

#body {
    background-image: linear-gradient(to bottom left,lightgreen,rgb(0, 150, 255));
    background-size: cover;
    margin-bottom: 315px;
}